.addbtn{
    position: relative;
    top: 12%;
    left: 0px;
    margin: 20px 1px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid black;
}

.addbtn:hover{
    background-color: white;
    color: black;
}

.mentors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.indvmentor{
    width: 60%;
    border: 2px solid black;
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 2%;
}

.flexguys > * {
    margin: 10px 10px;
}

.flexguys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.details > p{
    border-bottom: 1px solid black;
}

.topdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

h2{
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;

}

.ratebtn{
    background-color: #157347;
    color: white;
    border-radius: 5%;
    height: 8vh;
    width: 30vh;
    border: 0px;

}